.event1{
    background: linear-gradient(
      rgba(0, 0, 0, 0.3), 
      rgba(0, 0, 0, 0.3)
    ), url("assets/w9-fri.jpg");
}

.event2{
    background: linear-gradient(
      rgba(0, 0, 0, 0.3), 
      rgba(0, 0, 0, 0.3)
    ), url("assets/w7-rb.jpg");
}

.event3{
    background: linear-gradient(
      rgba(0, 0, 0, 0.3), 
      rgba(0, 0, 0, 0.3)
    ), url("assets/w9-fri2.jpg");
}

.event{
    background-color: #000011;
    min-height: 500px;
    background-size: cover;
    background-position: center;
    text-align: center;
    margin: 0;
}

.event p{
    display: none;
}

.event h1{
    font-size: 4em;
}

.event:hover{
    background-image: none;
}